<section class="container mx-auto px-4 mt-10"> 
    <div class="flex flex-wrap justify-center"> 
        <div class="w-full md:w-1/2 lg:w-1/3 p-4 hover:bg-gray-100 opacity-0 fade-in"> 
            {% load static %}
            <img src="{% static 'media/blogtest/lamp.jpg' %}" class="border-[0.1rem] border-black "/>
            <div class="text-center mt-4"> 
                <span class="text-xs font-bold">PHOTOGRAPHY, CAREER</span>
                <h1 class="font-thin text-3xl my-4 tracking-tight">MY LIFE: HOW TO WRITE THE PERFECT BLOG TITLE</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p> 
            </div>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/3 p-4 hover:bg-gray-100 opacity-0 fade-in"> 
            <img src="{% static 'media/blogtest/clay2.jpg' %}" class="border-[0.1rem] border-black "/>
            <div class="text-center mt-4"> 
                <span class="text-xs font-bold">CERAMICS</span>
                <h1 class="font-thin text-3xl my-4 tracking-tight">CREATIVE: MY FIRST EXPERIENCES WITH CERAMICS</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p> 
            </div>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/3 p-4 hover:bg-gray-100 opacity-0 fade-in"> 
            <img src="{% static 'media/blogtest/plantbook.png' %}" class="border-[0.1rem] border-black "/>
            <div class="text-center mt-4"> 
                <span class="text-xs font-bold">INTERIOR, READING</span>
                <h1 class="font-thin text-3xl my-4 hover:bg-gray-100 tracking-tight">LIFE: HOW I LEARNED TO DO INTERIOR DESIGN</h1>
                <p>Lorem ipsum dolor sit amet, consectetur - G. elit</p>
            </div>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/3 p-4 hover:bg-gray-100 opacity-0 fade-in"> 
            <img src="{% static 'media/homepage/fede1.jpg' %}" class="border-[0.1rem] border-black "/>
            <div class="text-center mt-4"> 
                <span class="text-xs font-bold">INTERIOR, READING</span>
                <h1 class="font-thin text-3xl my-4 tracking-tight">LIFE: HOW I LEARNED TO DO INTERIOR DESIGN</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p>
            </div>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/3 p-4 hover:bg-gray-100 opacity-0 fade-in"> 
            <img src="{% static 'media/blogtest/clay2.jpg' %}" class="border-[0.1rem] border-black "/>
            <div class="text-center mt-4"> 
                <span class="text-xs font-bold">CERAMICS</span>
                <h1 class="font-thin text-3xl my-4 hover:bg-gray-100 tracking-tight">CREATIVE: MY FIRST EXPERIENCES WITH CERAMICS</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p> 
            </div>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/3 p-4 hover:bg-gray-100 opacity-0 fade-in"> 
            <img src="{% static 'media/homepage/show2.png' %}" class="border-[0.1rem] border-black "/>
            <div class="text-center mt-4"> 
                <span class="text-xs font-bold">PHOTOGRAPHY, CAREER</span>
                <h1 class="font-thin text-3xl my-4 tracking-tight">MY LIFE: HOW TO WRITE THE PERFECT BLOG TITLE</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p> 
            </div>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/3 p-4 hover:bg-gray-100 opacity-0 fade-in"> 
            <img src="{% static 'media/blogtest/lamp.jpg' %}" class="border-[0.1rem] border-black "/>
            <div class="text-center mt-4"> 
                <span class="text-xs font-bold">PHOTOGRAPHY, CAREER</span>
                <h1 class="font-thin text-3xl my-4 tracking-tight">MY LIFE: HOW TO WRITE THE PERFECT BLOG TITLE</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p> 
            </div>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/3 p-4 hover:bg-gray-100 opacity-0 fade-in"> 
            <img src="{% static 'media/blogtest/clay2.jpg' %}" class="border-[0.1rem] border-black "/>
            <div class="text-center mt-4"> 
                <span class="text-xs font-bold">CERAMICS</span>
                <h1 class="font-thin text-3xl my-4 tracking-tight">CREATIVE: MY FIRST EXPERIENCES WITH CERAMICS</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p> 
            </div>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/3 p-4 hover:bg-gray-100 opacity-0 fade-in"> 
            <img src="{% static 'media/blogtest/plantbook.png' %}" class="border-[0.1rem] border-black "/>
            <div class="text-center mt-4"> 
                <span class="text-xs font-bold">INTERIOR, READING</span>
                <h1 class="font-thin text-3xl my-4 hover:bg-gray-100 tracking-tight">LIFE: HOW I LEARNED TO DO INTERIOR DESIGN</h1>
                <p>Lorem ipsum dolor sit amet, consectetur - G. elit</p>
            </div>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/3 p-4 hover:bg-gray-100 opacity-0 fade-in"> 
            <img src="{% static 'media/blogtest/plantbook.png' %}" class="border-[0.1rem] border-black "/>
            <div class="text-center mt-4"> 
                <span class="text-xs font-bold">INTERIOR, READING</span>
                <h1 class="font-thin text-3xl my-4 tracking-tight">LIFE: HOW I LEARNED TO DO INTERIOR DESIGN</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p>
            </div>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/3 p-4 hover:bg-gray-100 opacity-0 fade-in"> 
            <img src="{% static 'media/homepage/show2.png' %}" class="border-[0.1rem] border-black "/>
            <div class="text-center mt-4"> 
                <span class="text-xs font-bold">PHOTOGRAPHY, CAREER</span>
                <h1 class="font-thin text-3xl my-4 tracking-tight">MY LIFE: HOW TO WRITE THE PERFECT BLOG TITLE</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p> 
            </div>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/3 p-4 hover:bg-gray-100 opacity-0 fade-in"> 
            <img src="{% static 'media/blogtest/clay2.jpg' %}" class="border-[0.1rem] border-black "/>
            <div class="text-center mt-4"> 
                <span class="text-xs font-bold">CERAMICS</span>
                <h1 class="font-thin text-3xl my-4 hover:bg-gray-100 tracking-tight">CREATIVE: MY FIRST EXPERIENCES WITH CERAMICS</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p> 
            </div>
        </div>
        
        
    </div>
</section>
