<section class="bg-white h-[calc(100vh-12rem)] flex items-center justify-center">
    <div class="flex flex-wrap justify-center items-center text-center space-x-0 md:space-x-8 lg:space-x-16">
        <div class="max-w-lg lg:w-full p-8">
            <h2 class="mb-4 text-4xl tracking-tight font-thin text-center text-gray-900">Contact Me</h2>
            <p class="mb-8 lg:mb-16 font-light text-center text-gray-500 sm:text-xl">If you would like to hire me as your photographer, buy one of my pieces or for any other proposals fill out the contact form below. </p>
            <form action="#" class="space-y-8">
                <div>
                    <label for="email" class="block mb-2 text-sm font-medium text-gray-900">Your email</label>
                    <input type="email" id="email" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5" placeholder="name@mail.com" required>
                </div>
                <div>
                    <label for="subject" class="block mb-2 text-sm font-medium text-gray-900">Subject</label>
                    <input type="text" id="subject" class="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500" placeholder="Topic" required>
                </div>
                <div class="sm:col-span-2">
                    <label for="message" class="block mb-2 text-sm font-medium text-gray-900">Your message</label>
                    <textarea id="message" rows="6" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500" placeholder="Message..."></textarea>
                </div>
                <button type="submit" class="py-3 px-5 text-sm font-medium text-center text-white rounded-lg bg-primary-700 sm:w-fit hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300">Send message</button>
            </form>
        </div>
    </div>
  </section>