{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
    {% load static %}
    <script src="{% static 'htmx/htmx.min.js' %}" defer></script>
	<script src="{% static 'js/glightbox.min.js' %}"></script>
	<script defer src="{% static 'js/scripts.js' %}"></script>
    <title>F. Moro</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
		<link rel="stylesheet" href="{% static 'css/dist/cust_styles.css' %}">
		<link rel="stylesheet" href="{% static 'css/glightbox.min.css' %}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"> 
		<link href="https://fonts.cdnfonts.com/css/lupines-demo" rel="stylesheet">

		
		{% comment %} {% include 'base_header.html' %} {% endcomment %}
		{% include 'navbar.html' %}
		{% include 'tiny_navbar.html' %}
	</head>

{% comment %}[#F5ECD9]  {% endcomment %}
	<body class="h-full"> 
		<main class="h-auto" id="content-area">
			{% block content %}{% endblock %}
		</main>
	</body>
	<footer class="bg-white shadow mt-3">
		<div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
	<span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024 <a href="" class="hover:underline">TJdev™</a>. All Rights Reserved.
  </span>
  <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
	  <li>
		  <a href="#" class="hover:underline me-4 md:me-6">About</a>
	  </li>
	  <li>
		  <a href="#" class="hover:underline me-4 md:me-6">LinkedIn</a>
	  </li>
	  <li>
		  <a href="#" class="hover:underline me-4 md:me-6">Instagram</a>
	  </li>
	  <li>
		  <a href="#" class="hover:underline">Contact</a>
	  </li>
  </ul>
  </div>
	</footer>
	
</html>

