{% comment %} TODO FIX GOING HERE WITHOUT HTMX {% endcomment %}
<section class="flex justify-center h-[calc(100vh-14rem)]">
    <div class="flex justify-center items-center font-thin text-5xl my-4 tracking-tight">
        <a href="/gallery/plants" hx-push-url="/gallery/plants" hx-get="/gallery/plants/" 
        hx-target="#content-area" 
        hx-trigger="click"><h2 class="hover:text-6xl">PLANTS</h2></a>
        <h2> &nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp; </h2>
        <a href="/gallery/plants" hx-push-url="/gallery/plants" hx-get="/gallery/plants/" 
        hx-target="#content-area" 
        hx-trigger="click"><h2 class="hover:text-6xl">PEOPLE</h2></a>
        <h2>&nbsp;&nbsp;&nbsp; /&nbsp;&nbsp;&nbsp; </h2>
        <a href="/gallery/plants" hx-push-url="/gallery/plants" hx-get="/gallery/plants/" 
        hx-target="#content-area" 
        hx-trigger="click"><h2 class="hover:text-6xl">CERAMICS</h2></a>
    </div>
</section>
{% comment %} <script>
    const lightbox = GLightbox({
        selector: '.glightbox' 
    });
</script> {% endcomment %}