<section class="hidden md:block">
    <div class="flex justify-center h-fit w-full">
        {% load static %}
        <img class="max-h-screen" src="{% static 'media/homepage/Homepage.png' %}"/>
    </div>
</section>
<div class="relative overflow-hidden bg-center bg-cover bg-no-repeat" style="background-image: url('https://images.squarespace-cdn.com/content/v1/59551049ccf21033ff89a906/1677526264463-V05GCWWL7LWXCJVKQ3Z5/Light+Gray+with+Mist.png?format=2500w')">
<section class="container mx-auto min-h-full">
    <div class="flex flex-wrap justify-center mt-10 space-x-0 xl:space-x-32 ">
        <div class="p-4 max-w-lg">
            <div class="flex flex-col items-center justify-center h-full p-0 md:p-8 flex-col font-Volkhov">
                <div class="w-96 h-flex flex justify-center">
                    <img class="max-h-96 lg:max-h-lvh md:max-h-svh hover:scale-[102%] hover:border-2 xl:mb-3 mb-3 hover:border-gray-100" src="{% static 'media/homepage/fede1.jpg' %}" alt=""/>
                </div>
            </div>
        </div>
        
        <div class="p-4 max-w-lg">
            <div class="flex flex-col items-center text-center justify-center h-full p-0 md:p-8 font-Volkhov">
                <h2 class="font-medium text-md font-Volkhov mb-8">HI, I'M FEDERICA!</h2>
                <h1 class="font-thin text-3xl mb-8">Copywriter. Verbal Strategist. Audience Whisperer.</h1>
                <h1>From SEO-friendly websites and blog posts to quick-witted captions and taglines, I’ve crafted copy for numerous brands, agencies, and businesses across the country. Now, I’d be thrilled to help tell your story.​​​​​​​</h1>
            </div>
        </div>
    
    </div>
</section> 
</div>
<div class="relative overflow-hidden bg-center bg-cover bg-no-repeat" style="background-image: url('https://images.squarespace-cdn.com/content/v1/59551049ccf21033ff89a906/1532706156010-R68VECRDMTAHVJWYOLS4/shanleycox-home-diamondbg-01.png?format=2500w')">
    <section class="flex justify-center text-center mt-20">
        <h1 class="text-4xl font-thin">What I do </h1>
    </section>
    <section>
        <div class="flex flex-wrap justify-center space-x-0 lg:space-x-16">

            <div class="p-4 max-w-lg">
                <div class="flex flex-col text-center inline-block items-center justify-center h-full p-8 flex-col font-Volkhov">
                    <img class="w-24 h-24 mb-3 rounded-full shadow-lg" src="{% static 'media/plant.png' %}" alt=""/>
                    <h1> bla bla bla bla bla bla</h1>
                    <p class="leading-relaxed text-base text-black font-Volkhov">
                        Blue bottle crucifix vinyl post-ironic four dollar toast vegan taxidermy. Gastropub indxgo juice poutine.
                    </p>
                </div>
            </div>
            
            <div class="p-4 max-w-lg">
                <div class="flex flex-col text-center inline-block items-center justify-center h-full p-8 flex-col font-Volkhov">
                    <img class="w-24 h-24 mb-3 rounded-full shadow-lg" src="{% static 'media/plant.png' %}" alt=""/>
                    <h1> bla bla bla bla bla bla</h1>
                    <p class="leading-relaxed text-base text-black font-Volkhov">
                        Blue bottle crucifix vinyl post-ironic four dollar toast vegan taxidermy. Gastropub indxgo juice poutine.
                    </p>
                </div>
            </div>
        
        </div>
    </section>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>