<section class="hidden md:block h-[calc(screen-8rem)">
    <div class="flex justify-center h-fit w-full">
        {% load static %}
        <img class="max-h-[calc(100vh-8rem)]" src="{% static 'media/homepage/Homepage3.png' %}"/>
    </div>
</section>
<section class="container mx-auto px-4 py-8">
    <div class="my-32"> 
        <div class="flex flex-col items-end fade-in">
            <img class="w-full max-w-[40rem]  mb-[4rem] object-cover" src="{% static 'media/homepage/show2.png' %}" alt="Image 1">
            <a class=""><span class="underline text-sm font-semibold tracking-tight">PHOTOGRAPHY</span></a>
        </div>
    </div>
  
    <div class="my-32"> 
        <div class="flex flex-col items-start fade-in">
            <img class="lg:max-w-[60rem] max-w-screen mb-[4rem] object-cover" src="{% static 'media/homepage/ceramic1.png' %}" alt="Image 2">
            <a class=""><span class="underline text-sm font-semibold tracking-tight">CERAMIC</span></a>
        </div>
    </div>

    <div class="my-32"> 
        <div class="flex flex-col items-end fade-in">
            <img class="w-full max-w-[40rem]  mb-[4rem] object-cover" src="{% static 'media/homepage/show4.jpg' %}" alt="Image 1">
            <a class=""><span class="underline text-sm font-semibold tracking-tight">BLOG</span></a>
        </div>
    </div>
  
    <div class="my-32"> 
        <div class="flex flex-col items-start fade-in">
            <img class="lg:max-w-[30rem] max-w-screen mb-[4rem] object-cover lg:ml-[10rem] lg:mt-[-30rem]" src="{% static 'media/homepage/show3.png' %}" alt="Image 2">
            <a class="lg:ml-[10rem]"><span class="underline text-sm font-semibold tracking-tight">ABOUT ME</span></a>
        </div>
    </div>
  
    </section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>